@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #232b2b;
  --foreground: #ededed;
  --dark: #0d0d0d;
  --primary: #4ea8de;
  --secondary: #5e60ce;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
